#calendar { 
  min-width: 900px; 
  margin: 0 auto; 
}
#calendar-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.fc-header-toolbar {
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

.flex{
  display:flex;
}

.between{
  justify-content: space-between;
}

.around{
  justify-content:space-around;
}

.input-mini {
  border-radius: 50%;
}

.input-mini input {
  max-width: 50px;
  padding: 0 !important;
  border: none;
  outline: none;
  background: transparent;
  border-radius: 100%;
  overflow: hidden;
  text-align: center;
}
